a, a:hover {
  text-decoration: none;
}

.tweet {
  height: 200px;
  width: 100%;
  border: 2px solid lightseagreen;
  border-radius:10px;
  padding: 5px;
  margin: 5px;
}

.profile_pic {
  height: 50px;
  width: 50px;
  display: inline-block;
}

img {
  border-radius: 40px;
}

.name {
  color: darkblue;
  display: inline-block;
}

.location {
  font-size: 12px;
  color: graytext;
  padding: 2px;
}

.tweet_content {

}